# Fichiers de cache et d'importation spécifiques à Godot 4+
.godot/

# Si tu utilises encore Godot 3 (au cas où)
.import/
export.cfg
export_presets.cfg

# Traductions importées (les fichiers compilés)
*.translation

# Dossiers d'exportation (à adapter selon le nom de tes dossiers)
export/
exports/
build/
builds/

# Fichiers générés par le système d'exploitation
addons/
demo/
._*
.Trashes
ehthumbs.db
Thumbs.db

# Fichiers spécifiques aux éditeurs de code externes (ex: VS Code)
.vscode/
.idea/
*.sln
*.csproj